@mixin only-click {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@mixin vertical-center {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.window-header {
  -webkit-app-region: drag;
  height: $headerHeight;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $headerBbackgroundColor;
}
.window-header-panel {
  flex-shrink: 0;
  height: 100%;
  width: $windowPanelWidth;
  display: flex;
  -webkit-app-region: no-drag;
  @include only-click;
  div span{
    @include vertical-center;
  }
  > div {
    margin-left: 8px;
    margin-right: 4px;
  }
}
.window-header-search {
  flex-shrink: 0;
  height: 100%;
  width: $windowSearchWidth;
  div {
    width: 100%;
    -webkit-app-region: no-drag;
    @include vertical-center;
  }
}
.window-header-control {
  flex-shrink: 0;
  height: 100%;
  width: $windowControlWidth;
  -webkit-app-region: no-drag;
  @include only-click;
  div:nth-child(1) {
    margin-right: 25px;
  }
  div:nth-child(3) {
    margin-left: 25px;
  }
  div {
    height: 100%;
    @include vertical-center;
  }
}
.window-wrapper {
  height: $windowWrapperHeight;
  width: $windowWrapperWidth;
  display: flex;
}
.window-wrapper-aside {
  height: 100%;
  width: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: $windowWrapperAside;
}
.window-wrapper-nav {
  height: 100%;
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  background-color: $windowWrapperNav;
  border-color: $windowWrapperNav;
  :first-child{
    height: 100%;
    width: calc(100% - #{$colRewsizeDivWidth});
    position: relative;
    overflow: auto;
    @include scroll($windowWrapperNav, #F2F6FC, #C0C0C0);
    padding: 2px;
  }
}

.window-footer {
  height: $windowFooterHeight;
  width: $windowFooterWidth;
  overflow: hidden;
}