@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

@mixin scroll($trackColor, $trackPieceColor, $thumbColor) {
  /*定义滚动条高宽及背景
  高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width:10px;
    height:10px;
    background-color:#606266;
  }
  /*定义滚动条轨道
    内阴影+圆角*/
  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // border-radius: 10px;
    background-color: $trackColor;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $trackPieceColor;
  }
  /*定义滑块
    内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    // border-radius:10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $thumbColor;
  }
}